@import 'app/vars';
@import 'app/prime-style';

:host {
  display: block;
  margin: 0;
  padding: 0;
}

.content {
  padding: $contentPaddingHeight 20px $contentPaddingBottom;
  // min-width: 930px;
}

.container {
  margin: auto;
  max-width: 1200px;
}

.admin-key {
  background: linear-gradient(hsla(0,0%,90%,.8),hsla(0,0%,90%,.8));
  border: 2px solid rgb(252, 182, 78);
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
  
  .input-area {
    > * + * {
      margin-left: 20px;
    }

    input {
      width: 60%;
      max-width: 300px;
    }

    margin: 15px auto;
  }

  .button-group {
    margin: 15px auto;
  }

  .button-container {
    display: inline-block;
    margin: 0 10px;

    button {
      width: 100%;
    }

    &.main {
      width: 130px;
    }

    @media (max-width: 450px) {
      display: block;
      margin: 15px 10px;

      &.main {
        width: initial;
      }
    }
  }

  button + button {
    margin-left: 10px;
  }

  .failed {
    color: orangered;
    margin: 5px auto;
  }
}

.table-container {
  background: linear-gradient(hsla(0,0%,90%,.8),hsla(0,0%,90%,.8));
  border: 2px solid rgb(90, 185, 187);
  padding: 5px;
}

.option-group {
  display: inline-block;
}

.sort-option-container {
  margin: 15px auto;
  text-align: center;
  max-width: 1200px;
}

.sort-option {
  display: inline-block;
  padding: 5px 15px 5px 5px;
}

.option-title {
  font-size: 18px;
  padding-bottom: 10px;
}

.option-text {
  display: inline-block;
  padding: 0 10px;
  width: 85px;
  text-align: right;
}

.song-item-container {
  border-top: gray 2px solid;
  border-bottom: gray 2px solid;
  margin-bottom: 10px;
  padding: 10px 0;
}

.song-item {
  font-family: 'Roboto Mono', monospace;
  width: 100%;
  position: relative;
  margin: 8px 0;

  > * {
    vertical-align: top;
  }

  &.column {
    margin: 10px 0;
  }

  .reviewed {
    margin: 0 5px;
    display: inline-block;
    width: 20px;
  }
  
  .id {
    margin: 0 5px;
    width: 135px;
    display: inline-block;
    
    a {
      color: initial;
      text-decoration: none;
    }
    .fa-youtube {
      color: red;
    }
  }
  
  .title {
    margin: 0 5px;
    display: inline-block;
    width: calc(100% - 585px);
    min-width: 220px;
  }

  .playcount {
    margin: 0 5px;
    display: inline-block;
    width: 40px;
  }
  .pickcount {
    margin: 0 5px;
    display: inline-block;
    width: 40px;
  }
  .created {
    margin: 0 5px;
    display: inline-block;
    width: 80px;
  }
  .last-played {
    margin: 0 5px;
    display: inline-block;
    width: 165px;
  }
  .delete {
    margin: 0 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    
    button {
      width: 100%;
      height: 100%;
    }
  }

}