<dj-nav></dj-nav>
<div class="content">
  <div class="container">
    <div class="admin-key">
      <div>
        <span>Admin Key</span>
        <input type="password" pPassword [(ngModel)]="apiKey" [feedback]="false" />
        <button pButton type="button" label="Search" (click)="search()"></button>
        <div *ngIf="authFailed" class="failed">Authentication failed</div>
      </div>
      <div class="sort-option-container">
        <div class="option-title">
          Search Options
        </div>
        <div class="sort-option">
          <span class="option-text">확인여부</span>
          <p-dropdown [options]="filterByReviewedOption" [(ngModel)]="filterByReviewedParam" [style]="dropdownStyle">
            <ng-template pTemplate="item" let-item>
              {{ item.label }}
            </ng-template>
            <ng-template let-item pTemplate="selectedItem">
              {{ item.label }}
           </ng-template>
          </p-dropdown>
        </div>
        <div class="sort-option">
          <span class="option-text">제목</span>
          <p-dropdown [options]="sortByTitleOption" [(ngModel)]="sortByTitleParam" [style]="dropdownStyle">
            <ng-template pTemplate="item" let-item>
              {{ item.label }}
            </ng-template>
            <ng-template let-item pTemplate="selectedItem">
              {{ item.label }}
           </ng-template>
          </p-dropdown>
        </div>
        <div class="sort-option">
          <span class="option-text">추가일</span>
          <p-dropdown [options]="sortByCreatedDateOption" [(ngModel)]="sortByCreatedDateParam" [style]="dropdownStyle">
            <ng-template pTemplate="item" let-item>
              {{ item.label }}
            </ng-template>
            <ng-template let-item pTemplate="selectedItem">
              {{ item.label }}
           </ng-template>
          </p-dropdown>
        </div>
        <div class="sort-option">
          <span class="option-text">선곡횟수</span>
          <p-dropdown [options]="sortByPickCountOption" [(ngModel)]="sortByPickCountParam" [style]="dropdownStyle">
            <ng-template pTemplate="item" let-item>
              {{ item.label }}
            </ng-template>
            <ng-template let-item pTemplate="selectedItem">
              {{ item.label }}
           </ng-template>
          </p-dropdown>
        </div>
      </div>
    </div>
    <div *ngIf="authenticated" class="table-container">
      
    </div>
  </div>
</div>