@import 'app/vars';
@import 'app/prime-style';

:host {
  display: block;
  margin: 0;
  padding: 0;
}

.content {
  margin-top: $navbarHeight;
  padding: $contentPaddingHeight 60px $contentPaddingBottom;
  min-height: calc(100vh - #{$navbarHeight} - #{$contentPaddingHeight} - #{$contentPaddingBottom});
}

.container {
  margin: auto;
  max-width: 1200px;
}

.admin-key {
  background: linear-gradient(hsla(0,0%,90%,.8),hsla(0,0%,90%,.8));
  border: 2px solid rgb(252, 182, 78);
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
  
  input {
    margin: 0 20px;
    width: 60%;
    max-width: 500px;
  }

  .failed {
    color: orangered;
    margin: 5px auto;
  }
}

.table-container {
  background: linear-gradient(hsla(0,0%,90%,.8),hsla(0,0%,90%,.8));
  border: 2px solid rgb(90, 185, 187);
}

.sort-option-container {
  margin: auto;
  padding: 15px 0;
  text-align: center;
  max-width: 1200px;
}

.sort-option {
  display: inline-block;
  padding: 5px 15px 5px 5px;
}

.option-title {
  font-size: 18px;
  padding-bottom: 10px;
}

.option-text {
  display: inline-block;
  padding: 0 10px;
  width: 90px;
  text-align: right;
}