<dj-nav></dj-nav>
<div class="content">
  <div class="container">
    <div class="admin-key">
      <span>Admin Key:</span>
      <input type="text" pInputText [(ngModel)]="apiKey" />
    </div>
    <div class="table-container">
      <div class="sort-option-container">
        <div class="option-title">
          정렬 옵션
        </div>
        <div class="sort-option">
          <div style="display: inline; padding: 0 10px;">부스 번호</div>
          <p-dropdown [options]="sortByAliasOption" [(ngModel)]="sortByAliasParam" (ngModelChange)="applySort(currentPageNumber || 1)">
            <ng-template pTemplate="item" let-item>
              {{ item.label }}
            </ng-template>
            <ng-template let-item pTemplate="selectedItem">
              {{ item.label }}
           </ng-template>
          </p-dropdown>
        </div>
        <div class="sort-option">
          <div style="display: inline; padding: 0 10px;">부스 이름</div>
          <p-dropdown [options]="sortByNameOption" [(ngModel)]="sortByNameParam" (ngModelChange)="applySort(currentPageNumber || 1)">
            <ng-template pTemplate="item" let-item>
              {{ item.label }}
            </ng-template>
            <ng-template let-item pTemplate="selectedItem">
              {{ item.label }}
           </ng-template>
          </p-dropdown>
        </div>
      </div>
    </div>
  </div>
</div>